@charset "UTF-8";
/* CSS Document */

.gooogle-maps{
	display: inline;
	float:left;
	width:503px;
	height:365px;
	margin: 15px 0 0 15px;
	overflow: hidden;
	background: #fff;
	padding: 2px;
}



.contact-right-column{
	display:inline;
	float:right;
	width: 310px;
	margin: 15px 70px 0 0px;
}


h2{
	display: block;
	float:left;
	font-size: 28px;
	color: #fff;
	margin: 0 0 16px 0;
}




.page-desc{
	display: block;
	float: left;
	width: 367px;
	font-size: 14px;
	color:#125697;
	line-height: 24px;
	margin: 0 0 7px 0;

}



.form{
	display:block;
	float:left;
	width: 300px;
	margin: 0px 0 0 0;
	color: #125697;
	font-size: 12px;
}

.form input{
	width: 300px;	
	background: #fff;
	color: #333;
}


textarea{
	background: #fff;
	color: #333;
	font-size:12px;
	border: 1px solid #FFF;
	width: 300px;
}




.text-area{
	display:block;
	float: left;
	margin: 0 0 0 0;
	width: 300px;
	color: #125697;
}



p.clear-btn{
	display:inline;
	float: left;
	margin:5px 0 0 0px;
	font-size: 14px;
}


p.clear-btn a{
	color: #125697;	
}


p.clear-btn a:hover{
	color: #f00;	
}






p.send-btn{
	display:inline;
	float: right;
	margin:5px 5px 0 0px;
	font-size: 14px;
}


p.send-btn a{
	color: #125697;	
}

p.send-btn a:hover{
	color: #09F;	
}