@charset "UTF-8";
/* CSS Document */


#content{
	display:block;
	width:958px;
	height: 398px;
	margin-top: 60px;
	background: #ccc;
	border: 2px solid #fff ;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}



#top-content-area{
	padding-top: 10px;
	display:block;
	height: 98px;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;

}

#page-title{
	display:inline;
	float: left;
	font-size: 30px;
	font-weight: bold;
	line-height: 34px;
	margin: 5px 0 0 28px;
	color: #989898;
}

#search-area{
	display:block;
	float: right;
	height: 88px;
	width: 540px;
	padding-top:0px;
	margin-right: 28px;
}









ul.title-select-box{
	display: inline;
	float: left;
	list-style-type: none;
	font-size: 16px;
	color: #40c1e6;
	font-weight: bold;
	line-height: 29px;
	margin: 0 5px 0 5px;
}






.select-box-container{
	display:inline;
	float:left;
	width:100px;
}



.styled-select select {
   background: transparent;
   width: 120px;
   height: 26px;
   font-size: 16px;
   color: #40c1e6;
   border: 1px solid #fff;
}


.styled-select {
	margin-bottom: 5px;
   width: 100px;
   height: 26px;
   overflow: hidden;
   background: url(../images/new-arrow.png) no-repeat right #fff;
}



ul.title-select-box-right{
	display: inline;
	float: left;
	list-style-type: none;
	font-size: 16px;
	color: #40c1e6;
	font-weight: bold;
	line-height: 29px;
	margin: 0 5px 0 50px;
}


p#search-btn{
	display: block;
	float: right;
	background: #40c1e6;
	width:75px;
	height: 26px;
	overflow: hidden;
	transition:width 0.2s;
	-webkit-transition:width 0.2s;
	-ms-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;

}


p#search-btn:hover{
	width: 100px;	
}


p#search-btn a{
	display: block;
	width:95px;
	height: 26px;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 0 0 5px;
}





















#images-container{
	display:block;
	height: 216px;
	margin: 25px 0 0 -7px;
}





.img-area{
	display: inline;
	float:left;
	width: 144px;
	height:216px;
	margin-left:15px;
}

.img-container{
	diplay: block;
	width: 140px;
	height:189px;
	background: #fff;
	border: 2px solid #fff;
}

.img-container:hover{
	opacity: 0.85;
}	











p.house-title{
	display:block;
}


p.house-title a{
	display:block;
	font-size: 14px;
	font-weight: bold;
	color: #40c1e6;
}














ul.house-description{
	display: block;
	list-style-type: none;
}

ul.house-description a {
	font-size: 12px;
	line-height: 14px;
	color:#333;
}


















p.details-btn{
	display:block;
	float:right;
	width:20px;
	height: 20px;
	background: #40c1e6 url(../images/little-arrow.gif) no-repeat;
	overflow: hidden;
	transition:width 0.2s;
	-webkit-transition:width 0.2s;
	-ms-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-o-transition: width 0.2s;

}

p.details-btn:hover{
	width: 75px;	
}

p.details-btn a{
	display:block;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding-left: 25px;
}










p.reflection{
	display:block;
	width: 144px;
	height:27px;
	background: url(../images/content-img-reflection.png);
	margin-top: -1px;
}
