@charset "UTF-8";
/* CSS Document */

*{font-family:arial,helvetica,sans-serif,tahoma,verdana,geneva,lucida,"lucida grande";}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { 
margin: 0; padding: 0; outline: none; color:#5d5d5d; 
}

@font-face {
	font-family: myFirstFont;
	src: url(../fonts/BEBAS_.ttf),
		 url(../fonts/BEBAS_.eot); /* IE */
}

body { 
	font: 9pt/17pt arial; 
	height: 100%;
	background: #e5e5e5 url(../images/bg.gif) repeat-x;
	background-position: center 62px;
	outline: none;
	} 
	
.clear { 
	clear: both;
}

a { color: #fff; text-decoration: none; outline: none; }



span{
	font-family: myFirstFont;
}





#top-nav-bg{
	display: block;
	height:62px;
	background: url(../images/TopNavBg.gif) repeat-x;
}







#container{
	display: block;
	width: 960px;
	margin: -62px auto;
}






#top-nav-bar{
	display: block;
	height: 62px;
	overflow: hidden;
}




div.btn{
	display:inline;
	float:left;
	width: 118px;
	height:124px;
	border-left: 1px solid #125697;
	border-right: 1px solid #3288da;
	-webkit-transition:0.25s;
	-ms-transition:0.25s;
	-moz-transition:0.25s;
	-o-transition:0.25s;

}

div.btn:hover{
	margin-top:-62px
}


p.btn{
	display:block;
	height:44px;
	font-size: 16px;
	background: url(../images/BtnBg.gif) repeat-x;
	color: #FFF;
	text-align: center;
	padding-top: 18px;
}



p.btn-over{
	display:block;
	height: 44px;
	font-size: 16px;
	background: #125697;
	color:#09F;
	text-align: center;
	padding-top: 18px;
}






p.different-btn{
	display:block;
	height:55px;
	font-size: 16px;
	background: url(../images/BtnBg.gif) repeat-x;
	color: #FFF;
	text-align: center;
	padding-top: 7px;
}



p.different-btn-over{
	display:block;
	height: 55px;
	font-size: 16px;
	background: #125697;
	color:#09F;
	text-align: center;
	padding-top: 7px;
}








#sub-nav-bar{
	display: block;
	height: 157px;
	background: url(../images/SubNavBar.jpg) no-repeat;
}


#logo{
	display: inline;
	float: left;
	margin-top: 33px;
	width: 434px;
	height: 91px;
	background: url(../images/logo.png) no-repeat;
}

#logo a{
	display:block;
	width: 434px;
	height: 91px;
	text-indent: -9999px;
}

p#info-number{
	display:inline;
	float: right;
	margin: 70px 20px 0 0;
	font-size: 24px;
	color: #125697;
	line-height: 26px;
	
}











#content{
	display:block;
	height: 450px;
	margin-top: 0px;
}












#content-shadow{
	display:block;
	width: 960px;
	height: 50px;
	background: url(../images/ContentShadow.png) no-repeat;
}














#main-footer{
	display: block;
	width: 905px;
	margin: 40px auto;
}


.right-main-footer-column{
	display:inline;
	float: right;
	width:260px;
	margin: 0px 0 0px 0;
	background: #fff;
	padding: 15px;
	
	box-shadow: 0 1px 5px #666;
	-webkit-box-shadow: 0 1px 5px #666;
	-ms-box-shadow: 0 1px 5px #666;
	-moz-box-shadow: 0 1px 5px #666;
	-o-box-shadow: 0 1px 5px #666;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;

}


.right-main-footer-column:hover{
	opacity: 0.9;
	
	box-shadow: 0 1px 5px #000;
	-webkit-box-shadow: 0 1px 5px #000;
	-ms-box-shadow: 0 1px 5px #000;
	-moz-box-shadow: 0 1px 5px #000;
	-o-box-shadow: 0 1px 5px #000;
}



.main-footer-column{
	display:inline;
	float: left;
	width:260px;
	margin: 0px 17px 0 0;
	background: #fff;
	padding: 15px;
	
	box-shadow: 0 1px 5px #666;
	-webkit-box-shadow: 0 1px 5px #666;
	-ms-box-shadow: 0 1px 5px #666;
	-moz-box-shadow: 0 1px 5px #666;
	-o-box-shadow: 0 1px 5px #666;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}



.main-footer-column:hover{
	opacity: 0.9;
	
	box-shadow: 0 1px 5px #000;
	-webkit-box-shadow: 0 1px 5px #000;
	-ms-box-shadow: 0 1px 5px #000;
	-moz-box-shadow: 0 1px 5px #000;
	-o-box-shadow: 0 1px 5px #000;

}


.main-footer-title{
	display: block;
	color: #125697;
	font-size: 24px;
	margin-bottom: 20px;
}






.main-footer-desc{
	display:block;
	width: 260px;
	color: #666;
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
}

.more-btn{
	display: block;
	width: 40px;
	height:25px;
	margin-top: 10px;
	background: #125697;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: px;
}










#footer-bg{
	display:block;
	height: 222px;
	margin-top: 30px;
	background: #c5c5c5;
}


#container-footer{
	display: block;
	height: 222px;
	width: 905px;
	margin: 0 auto;
	
}


.footer-column{
	display:inline;
	float: left;
	width:290px;
	height: 180px;
	border-right: 1px solid #999;
	margin: 20px 17px 0 0;
}


.footer-title{
	display: block;
	font-size: 24px;
	color: #666;
	margin: 15px 0 10px 0;
}

.facebook-btn{
	display:inline;
	float: left;
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
	background: url(../images/fb-btn.png) no-repeat;
}

.find-us{
	display:inline;
	float: left;
	font-size: 14px;
	margin: 5px 0 0 10px;
}

.footer-links{
	display:inline;
	float: left;
	width: 140px;
}

.footer-links a{
	font-size: 14px;
	color: #666;
}






.right-footer-column{
	display:inline;
	float: left;
	width:260px;
	margin: 20px 0px 0 0;
}


.phone-number{
	display: block;
	font-size: 20px;
}


#privacy-policy-bg{
	display:block;
	height: 25px;
	background: #666;
}

.privacy-policy{
	display: block;
	width: 250px;
	margin: 0 auto;
	color: #CCC;
}















