@charset "UTF-8";
/* CSS Document */


#photo-gallery{
	display:inline;
	float:left;
	width: 945px;
	height:320px;
	margin: 20px 0px 0 10px;
	padding: 0px;
}


.thumb{
	display: inline;
	float:left;
	width:126px;
	height: 97px;
	background: #fff;
	border: 0px;
	margin: 0px 9px 9px 0;
	box-shadow: 0 0 3px #444444;
	-webkit-box-shadow: 0 0 3px #444444;
	-ms-box-shadow: 0 0 3px #444444;
	-moz-box-shadow: 0 0 3px #444444;
	-o-box-shadow: 0 0 3px #444444;
	opacity: 0.9;
}

.thumb:hover{
	opacity: 1;
	box-shadow: 0 0 5px #333;
	-webkit-box-shadow: 0 0 5px #333;
	-ms-box-shadow: 0 0 5px #333;
	-moz-box-shadow: 0 0 5px #333;
	-o-box-shadow: 0 0 5px #333;
}

.img-mask{
	display:block;
	float: left;
	width: 116px;
	height: 87px;
	margin: 5px 0 0 5px;
	overflow: hidden;
}
