<div id="footer-bg">

        <div id="container-footer">
        
        	<div class="footer-column">
            
        		<p class="footer-title"><span>Connect &nbsp;&nbsp; with &nbsp;&nbsp; us</span></p>
                
                <a href="http://www.facebook.com" target="_blank"><p class="facebook-btn"></p></a>  
                
                <p class="find-us"><a href="http://www.facebook.com" target="_blank">Find us on Facebook</a></p>   
      
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FElegant-Living-Homes-Of-Melbourne%2F125964187465007%3Fref%3Dts&amp;send=false&amp;layout=standard&amp;width=260&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:80px;" allowTransparency="true"></iframe>
                           
            </div> <!-- end footer column -->
            
            <div class="footer-column">
            
        		<p class="footer-title"><span>Web &nbsp;&nbsp;Site &nbsp;&nbsp;Map</span></p>
                <p class="footer-links"><a href="/index.html">Home</a></p>
                <p class="footer-links"><a href="/standard-inclusions.html">Standard Inclusions</a></p>
                <p class="footer-links"><a href="/about-us.html">About Us</a></p>
                <p class="footer-links"><a href="/pages/testimonials">Testimonials</a></p>
                <p class="footer-links"><a href="/promotions.html">Promotions</a></p>
                <p class="footer-links"><%= link_to "Our Homes" , homes_path %></p>
                <p class="footer-links"><%= link_to "Home and Land" , packages_path %></p>
                <p class="footer-links"><a href="/pages/renovations">Renovations</a></p>
                <p class="footer-links"><a href="/pages/unit-development">Unit Development</a></p>
                <p class="footer-links"><%= link_to "Gallery" , albums_path %></p>
                <p class="footer-links"><%= link_to "Contact Us" , page_path("contact-us") %></p>
                           
            </div> <!-- end footer column -->
            
            
            <div class="right-footer-column">
            
        		<p class="footer-title"><span>Contact &nbsp;&nbsp;us</span></p>
                <p class="phone-number">1300 003 235</p>
                <p class="email">info@elegantlivinghomes.com.au</p>
                <p class="address"><br />Elegant Living Homes of Melbourne Pty. Ltd.<br />P.O. Box 6567, Point cook. Vic 3030</p>                
                
                           
    </div> <!-- end footer column -->
     
    </div> <!-- end container footer -->
</div> <!-- end footer bg -->

<div id="privacy-policy-bg">
    	<p class="privacy-policy">Images are for illustrative purposes only and may not represent the final product. Prices are based on the availability of land. The builder reserves the right to amend the specification and price without notification.. Developer guidelines may affect the final price. Home and land package cost subject to land cost, soil test report, B.A.L. report & 6 Star report - this is not a fixed price contract. Prices correct at time of printing</p>
        
</div>