<div id="footer-bg">

        <div id="container-footer">
        
        	<div class="footer-column">
            
        		<p class="footer-title"><span>Connect &nbsp;&nbsp; with &nbsp;&nbsp; us</span></p>
                
                <a href="http://www.facebook.com" target="_blank"><p class="facebook-btn"></p></a>  
                
                <p class="find-us"><a href="http://www.facebook.com" target="_blank">Find us on Facebook</a></p>   
      
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FCRASH-DUMP%2F75640976454%3Fref%3Dts&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:80px;" allowTransparency="true"></iframe>
                           
            </div> <!-- end footer column -->
            
            <div class="footer-column">
            
        		<p class="footer-title"><span>Web &nbsp;&nbsp;Site &nbsp;&nbsp;Map</span></p>
                <p class="footer-links"><a href="index.html">Home</a></p>
                <p class="footer-links"><a href="standard-inclusions.html">Standard Inclusions</a></p>
                <p class="footer-links"><a href="about-us.html">About Us</a></p>
                <p class="footer-links"><a href="testimonials.html">Testimonials</a></p>
                <p class="footer-links"><a href="promotions.html">Promotions</a></p>
                <p class="footer-links"><a href="our-homes.html">Our Homes</a></p>
                <p class="footer-links"><a href="home-and-land.html">Home and land</a></p>
                <p class="footer-links"><a href="renovations.html">Renovations</a></p>
                <p class="footer-links"><a href="unit-development.html">Unit Development</a></p>
                <p class="footer-links"><a href="gallery.html">Gallery</a></p>
                <p class="footer-links"><a href="contact-us.html">Contact us</a></p>
                           
            </div> <!-- end footer column -->
            
            
            <div class="right-footer-column">
            
        		<p class="footer-title"><span>Contact &nbsp;&nbsp;us</span></p>
                <p class="phone-number">1300 003 235</p>
                <p class="email">info@elegantlivinghomes.com.au</p>
                <p class="address"><br />Elegant Living Homes of Melbourne Pty. Ltd.<br />P.O. Box 6567, Point cook. Vic 3030</p>                
                
                           
    </div> <!-- end footer column -->
     
    </div> <!-- end container footer -->
</div> <!-- end footer bg -->

<div id="privacy-policy-bg">
    	<p class="privacy-policy">Elegant Living Homes - Privacy Policy</p>
        <p class="privacy-policy"> <%= link_to "admin" , "#" %> </p>
</div>