<div id="main-footer">

  <a href="testimonials.html"><div class="main-footer-column">
    <p class="main-footer-title"><span>Testimonials</span></p>
    <img src="/images/LeftFooterImg2.png" width="165" height="165" />
    <p class="main-footer-desc">We pride ourselves on the feedback we receive from our customers. Not only is it satisfying to hear about people's personal experiences of moving into their new home, but also....</p>
    <p class="more-btn">More</p>
  </div></a> <!-- end main footer column -->

  <a href="promotions.html"><div class="main-footer-column">
    <p class="main-footer-title"><span>Promotions</span></p>
    <img src="/images/CentralFooterImg2.png" width="165" height="165" />
    <p class="main-footer-desc">Elegant Living Homes currently have some great promotions. Purchase both our Elegance and Grandeur packages and receive a free bonus of your choice....</p>
    <p class="more-btn">More</p>
  </div></a> <!-- end main footer column -->

  <a href="standard-inclusions.html"><div class="right-main-footer-column">
    <p class="main-footer-title"><span>Standard &nbsp;&nbsp;Inclusions</span></p>
    <img src="/images/RightFooterImg.jpg" width="260" height="165" />
    <p class="main-footer-desc">Elegant Living Homes is a boutique style builder, with the strength of a bigger builder. Elegant Living Homes offers Standard Inclusions that "The Others" call extras...</p>
    <p class="more-btn">More</p>
  </div></a> <!-- end right footer column -->        
</div>       
