<p id="content-shadow"></p>
<div class="clear"/>
<div id="footer">
  <div class="content-footer">
   	<div class="content-footer-title">Welcome</div>
      <a href="about-us.html"><img src="images/leftboximg.jpg" width="136" height="114" class="content-footer-img" /></a>
      <div class="content-footer-description">Elegant Living Homes offers standard inclusions that the "Others" call extras,
                Elegant Living Homes offers standard inclusions that...</div>
      <div class="read-more-btn"><a href="about-us.html">Read More > ></a> </div>
    </div>
    
  <div class="content-footer">
      	<div class="content-footer-title">Photogallery</div>
       <a href="about-us.html"><img src="images/centralboximg.jpg" width="136" height="114" class="content-footer-img" /></a>
       <div class="content-footer-description">Elegant Living Homes offers standard inclusions that the "Others" call extras,
           Elegant Living Homes offers standard inclusions that...</div>
       <div class="read-more-btn"><a href="about-us.html">Read More > ></a></div>
     </div>
     
      <div id="content-right-footer">
      	<div class="content-footer-title">Latest Project</div>
       <a href="about-us.html"><img src="images/rightboximg.jpg" width="136" height="114" class="content-footer-img" /></a>
       <div class="content-footer-description">Elegant Living Homes offers standard inclusions that the "Others" call extras,
           Elegant Living Homes offers standard inclusions that...</div>
       <div class="read-more-btn"><a href="about-us.html">Read More > ></a></div>
       
      </div>
</div>    
<div id="divider"></div>
<ul id="footer-nav">
   <li><a href="index.html">Home</a></li>
   <li><a href="about-us.html">About us</a></li>
   <li><a href="our-homes.html">Our Homes</a></li>
   <li><a href="house-and-land.html">House & Land</a></li>
   <li><a href="photogallery.html">Photogallery</a></li>
   <li><a href="contact-us.html">Contact us</a></li>
</ul>        
