<div id="header">
    <p id="logo"><a href="index.html">Logo</a></p>
        <ul id="top-nav">
            <li id="home"><a href="index.html">HOME</a></li>
            <li id="about-us"><a href="about-us.html">ABOUT US</a></li>
            <li id="our-homes"><span><a href="our-homes.html">OUR<br />HOMES</a></span></li>
            <li id="house-and-land"><span><%= link_to 'Home & Land Packages', packages_path %></span></li>
            <li id="photogallery"><span><a href="photogallery.html">PHOTO<br />GALLERY</a></span></li>
            <li id="contact-us"><a href="contact-us.html">CONTACT US</a></li>
        </ul>
</div>