<div id="main">

    
  
        		<div id="gallery">
                            
        			<div id="slides">
                            
        				<div class="slide"><a href="standard-inclusions.html"><img src="/slideshow/img/sample_slides/slide-one.jpg" width="958" height="448" alt="side" /></a></div>
        				<div class="slide"><a href="our-homes.html"><img src="/slideshow/img/sample_slides/slide-two.jpg" width="958" height="448" alt="side" /></a></div>
        				<div class="slide"><a href="home-and-land.html"><img src="/slideshow/img/sample_slides/slide-three.jpg" width="958" height="448" alt="side" /></a></div>
        				<div class="slide"><a href="promotions.html"><img src="/slideshow/img/sample_slides/slide-four.jpg" width="958" height="448" alt="side" /></a></div>
                              
        			</div> <!-- slides --> 
                            
        		</div> <!-- gallery -->
                                                        
        	<div id="menu" class="slideshow">
                            
        		<ul class="menubar">
        			<li class="menuItem"><a href=""></a></li>
       				<li class="menuItem"><a href=""></a></li>
        			<li class="menuItem"><a href=""></a></li>
        			<li class="menuItem"><a href=""></a></li>
        		</ul>
                            
        	</div> <!-- menu -->
                            
                            
        	</div> <!-- main -->