<a href="#">
            <p class="house-img">
            	 <%= image_tag Image.last.url%>
            </p>
                <div class="container-info">
                        <ul>
                            <li class="title"><%= home.heading %></li>
                            <li class="price">from <%= home.price %></li>
                            <li class="square"><%= home.size %> Square</li>
                        
                        </ul>
                    <p class="more-details-btn"></p>
                 </div>
      </a>


