<div class="content-top-bar">
            	<p class="page-title"><span>Lawson, &nbsp;&nbsp; Home &nbsp;&nbsp; & &nbsp;&nbsp; Land &nbsp;&nbsp; (Melton)</span></p>
            </div>
            
            <div class="big-img-mask">
   	  			
            <%= image_tag @home.image.url, :width=>"640" %>
            </div>
            
            <div class="container-details">
            	<div class="home-and-land-title">Lot 324 Maplewood Estate Melton (476m2)</div>
             	<div class="home-and-land-price">Home & Land From: <br /> $362.358</div>
              
             	<div class="container-icons">
              		<img src="/images/bed-icon.png" width="50" height="50" class="little-icon" />
                	<div class="bedrooms">3</div>
                	<img src="/images/shower-icon.png" width="50" height="50" class="little-icon" />
                	<div class="shower">2</div>
                	<img src="/images/car-icon.png" width="50" height="50" class="little-icon" />
                	<div class="garage">2</div>
                    <div class="extra-info">- 24 Squares</div>
                    <div class="extra-info">- Spacious Living Areas</div>
              	</div> <!-- end container icons  -->
                
                <div class="download-pdf-btn"><a href="#" target="_blank">Download PDF</a></div>
            
</div><!-- end container details -->