<div class="content-top-bar">
 	<p class="page-title"><span>Range &nbsp;&nbsp; of &nbsp;&nbsp; Homes</span></p>
</div>

<div id="container-homes">
  <%= render :partial => "home" , :collection => @homes %>
</div>
